.DS_Store
/.build
/Packages
xcuserdata/
DerivedData/
.swiftpm/configuration/registries.json
.swiftpm/xcode/package.xcworkspace/contents.xcworkspacedata
.netrc
dist/Chainpad.app
dist/Chainpad-*nhestrompia
dist/checksums.txt
release/
